<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>") //refazer rota, em vez de ir pra sala, volta
        </script>
    </head>
</html>